<#@ include file="ProcessContent.tt" #>
<#
	for(int i = 0; i < 10; i++)
	{
#>
write me <#= i #>
<#
	ProcessContent("File" + i.ToString() + ".txt", this.GenerationEnvironment.ToString());
	this.GenerationEnvironment.Remove(0, this.GenerationEnvironment.Length);
	}
#>


